@page "/uploadtoken"
@inject OrderServices repo
@inject NavigationManager navigate
@inject ISnackbar toast
@inject DownloadService downloadService
@inject IJSRuntime js

<PageTitle>Upload Tokens</PageTitle>

@if (!isPageLoaded)
{
    <div class="center-screen">
        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
        <MudText Class="ms-2">Processing</MudText>
    </div>
}
else
{
    <MudContainer Class="mt-4 px-8 d-flex" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="12" sm="12" md="12">
                <MudBreadcrumbs Items="BreadItems" />
            </MudItem>
            <MudItem xs="12">
                <MudStack Style="width: 100%">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>"
                                   @ref="@_fileUpload"
                                   OnFilesChanged="OnInputFileChanged"
                                   AppendMultipleFiles
                                   Hidden="true"
                                   InputClass="file-upload-input"
                                   tabindex="-1"
                                   @ondrop="@ClearDragClass"
                                   @ondragenter="@SetDragClass"
                                   @ondragleave="@ClearDragClass"
                                   @ondragend="@ClearDragClass">
                        <ActivatorContent>
                            <MudPaper Height="300px"
                                      Outlined="true"
                                      Class="@_dragClass">
                                <MudText Typo="Typo.h6">
                                    Drag and drop files here or click
                                </MudText>
                                @foreach (var file in _fileNames)
                                {
                                    <MudChip T="string"
                                             Color="Color.Dark"
                                             Text="@file"
                                             tabindex="-1" />
                                }
                            </MudPaper>
                        </ActivatorContent>
                    </MudFileUpload>
                    <MudToolBar Gutters="@false"
                                Class="relative d-flex justify-end gap-4">
                        <MudButton Color="Color.Default"
                                   OnClick="DownloadTemplate"
                                   Variant="Variant.Filled">
                            Download Template
                        </MudButton>
                        <MudButton Color="Color.Primary"
                                   OnClick="@OpenFilePickerAsync"
                                   Variant="Variant.Filled">
                            Open file picker
                        </MudButton>
                        <MudButton Color="Color.Primary"
                                   Disabled="@(!_fileNames.Any())"
                                   OnClick="UploadFile"
                                   Variant="Variant.Filled">
                            Upload
                        </MudButton>
                        <MudButton Color="Color.Error"
                                   Disabled="@(!_fileNames.Any())"
                                   OnClick="@ClearAsync"
                                   Variant="Variant.Filled">
                            Clear
                        </MudButton>
                    </MudToolBar>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudContainer>
}

@code {
    #region Variable
    bool isPageLoaded = false;


    private List<BreadcrumbItem> BreadItems =
    [
        new("Dashboard", href: "/dashboard"),
        new("Order Upload", href: "#")
    ];
    #endregion

    #region Functions

    private const string DefaultDragClass = "relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full";
    private string _dragClass = DefaultDragClass;
    private readonly List<string> _fileNames = new();
    private MudFileUpload<IReadOnlyList<IBrowserFile>>? _fileUpload;

    private async Task ClearAsync()
    {
        await (_fileUpload?.ClearAsync() ?? Task.CompletedTask);
        _fileNames.Clear();
        ClearDragClass();
    }

    private Task OpenFilePickerAsync() => _fileUpload?.OpenFilePickerAsync() ?? Task.CompletedTask;

    private void SetDragClass() => _dragClass = $"{DefaultDragClass} mud-border-primary";
    
    private void ClearDragClass() => _dragClass = DefaultDragClass;
    
    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        ClearDragClass();
        var files = e.GetMultipleFiles();
        foreach (var file in files)
        {
            _fileNames.Add(file.Name);
        }
    }

    private void UploadFile()
    {
        // Upload the files here
        //toast.Add("Upload your files...");
        try
        {

        }
        catch(Exception)
        {
            
        }
    }

    private async Task DownloadTemplate()
    {
        try
        {
            var fileBytes = await repo.DownloadTemplate();
            var base64 = Convert.ToBase64String(fileBytes);
            var contentType = downloadService.GetContentType("OrderTemplate.xlsx");

            await js.InvokeVoidAsync("downloadFile", "OrderTemplate.xlsx", base64, contentType);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    #endregion

    #region Events
    protected async override Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
        await Task.Delay(5000);
        isPageLoaded = true;
    }
    #endregion

}
